footer {
  height: 100%;
  background-color: #333;
  color: #f6f6f6;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;

    align-items: center;
    padding: 50px 50px 20px 0;
  }
}
.footer-h2 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  font-family: "Shrikhand", sans-serif;
  @media screen and (min-width: 1024px) {
    font-size: 1rem;
    text-align: right;
    margin: 0 0 0 50px;
  }
}
footer .footer-text {
  margin: 0;
  padding: 2px 0;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    margin: 0 15px;
    &:nth-child(n + 2) {
      font-weight: 500;
    }
  }
}

footer i {
  margin-right: 10px;
  color: white;
  width: 18px;
  @media screen and (min-width: 1024px) {
    position: relative;
    left: 12px;
  }
}

footer .footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
}
