.menu-section {
  padding: 5px;
  & h3 {
    font-weight: 300;
    position: relative;
    &::after {
      content: "";
      background-color: #99e2d0;
      height: 3px;
      width: 40px;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }
}
.container {
  border-radius: 30px 30px 0 0;
  transform: translateY(-30px);
  background-color: #f6f6f6;
  padding: 10px;
  box-shadow: 0 0 60px rgb(0 0 0 / 7%);
}
.container .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & h2 {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    margin-left: 7px;
  }
  & i {
    margin-right: 20px;
  }
}

.menu-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  & .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.menu-item p {
  margin: 7px 0 0;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-text {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .container {
    border-radius: 30px 30px 0 0;
    transform: translateY(-30px);
    background-color: #f6f6f6;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  .container .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 20px;
  }

  .container .menu-header h2 {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    margin: 0;
    position: absolute;
  }

  .container .menu-header i {
    position: absolute;
    right: 210px;
    font-size: 1.7rem;
    margin-top: -14px;
  }
}
.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  border-radius: 0 10px 10px 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  visibility: hidden;
}
.fa-circle-check {
  background-color: #99e2d0;
  font-size: 20px;
  color: #f6f6f6;
}

.menu-item:hover .icon-container {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.menu-item:hover .check-icon {
  display: block;
}
.menu-item:hover .price {
  margin-right: 60px;
  animation-delay: 0.5s;
}
/* Animation menu */
@keyframes fadeInGroup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-section {
  opacity: 0;
  animation: fadeInGroup 1s ease-in-out forwards;
}

.menu-section:nth-of-type(1) {
  animation-delay: 1s;
}

.menu-section:nth-of-type(2) {
  animation-delay: 2s;
}

.menu-section:nth-of-type(3) {
  animation-delay: 3s;
}
